apiVersion: v1
kind: Secret
metadata:
  name: {{ include "apposto.fullname" . }}
  labels:
    {{- include "apposto.labels" . | nindent 4 }}
data:
  APP_KEY: {{ .Values.appKey | b64enc | quote }}
  MAIL_USERNAME: {{ .Values.mailUsername | b64enc | quote }}
  MAIL_PASSWORD: {{ .Values.mailPassword | b64enc | quote }}
  MAILGUN_SECRET: {{ .Values.mailgunSecret | b64enc | quote }}
  {{- if .Values.recaptchaSiteKey }}
  RECAPTCHA_SITE_KEY: {{ .Values.recaptchaSiteKey | b64enc | quote }}
  {{- end }}
  {{- if .Values.recaptchaSecretKey }}
  RECAPTCHA_SECRET_KEY: {{ .Values.recaptchaSecretKey | b64enc | quote }}
  {{- end }}
  {{- if and (not .Values.postgresql.enabled) .Values.database.password }}
  DB_PASSWORD: {{ .Values.database.password | b64enc | quote }}
  {{- end }}
